@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

/* Gradient Background */
.gradient-custom-2 {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
}

/* Indigo Section */
.bg-indigo {
    background-color: #4835d4 !important;
}

/* Styling for large screens */
@media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

/* Styling for small screens */
@media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

/* Form styling */
.form-control {
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

/* Button Styling */
.btn-lg {
    font-size: 18px;
    padding: 10px 20px;
}
